{% extends 'base.html.twig' %}

{% block title %} Category #{{category.0.name}} {% endblock %}

{% block body %}

    <h1>Category {{category.0.name}}</h1>

    {% for program in programs %}
        <div>
            <h2>ID - {{ program.id }}  -   {{ program.title }}</h2>
            <img src="{{ program.poster }}" alt="img">
            <p>{{ program.synopsis }}</p>
        </div>
    {% else %}
        Aucune série trouvée
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}

