{% extends 'base.html.twig' %}

{% block title %} Category #{{category.0.name}} {% endblock %}

{% block body %}
<div class="row">
<h1>Category {{category.0.name}}</h1>
    {% for program in programs %}
<div class="col-sm-4">
    <div class="card">
            <div class="card-body">
        <div  class="card-title">
            <h2>ID - {{ program.id }}  -   {{ program.title }}</h2>
            <img src="{{ program.poster }}" alt="img">
            <p>{{ program.synopsis }}</p>
        </div>
</div>
</div>
</div>
    {% else %}
        Aucune série trouvée
    {% endfor %}
</div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}

